<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link  rel="stylesheet" href="/css/default.css"/>
        <link  rel="stylesheet" href="/css/cssLayout.css"/>
        <link  rel="stylesheet" href="/css/login.css"/>

        <title>KeepInTouch : <%=data.user.login%></title>
    </head>

    <body>


        <div id="top" class="top">
            <h2>KeepInTouch</h2>
            <ul>
                <li> <a href="logout">D&eacute;connection</a> </li>
            </ul>
        </div>
        <div>
            <div id="content" class="left_content">

                <h1>Bienvenue <%=data.user.login%></h1>
                <p>Vous êtes sur KeepInTouch, le service qui vous permet de synchroniser votre contact sur les tags NFC en votre possession</p>
                <p>Voici les information qui seront fournis par les tags :</p>
                <div>
                <div class="titre">Nom : </div> <div class="contenu"> <%=data.contact.nom+" "+data.contact.prenom %></div> <br />
                <div class="titre">Num&eacute;ro de t&eacute;l&eacute;phone : </div> <div class="contenu"> <%=data.contact.num %></div> <br />
                <div class="titre">Mail : </div> <div class="contenu"> <%=data.contact.mail %></div> <br />
                </div>
                <div>Veuillez insérer le <b>texte</b> suivant dans vos tags synchronisés : <br /> <br />
                    <h2 style="border:1px solid black;border-radius: 20px;width:200px;padding:10px;display:inline-block;">
                       
                        <%=data.user.contact %></h2>
                </div>
                <p>  </p>
            </div>
        </div>
    </body>

</html>
